/* Universal Styles */
html {
  font-family: 'Merriweather Sans', 'Helvetica';
  font-size: 16px;
  color: black;
  background-color: white;
  opacity: 0.9;
  box-sizing: border-box;
}

.main-section {
  position: relative;
  top: 3.2rem;
}

.image-container {
  overflow: hidden;
}

header {
  position: fixed;
  z-index: 100%;
  width: 100%;
  height: 64px;
}

header .logo {
  flex: 1;
  height: 32px;
  margin-left: 10px;
  float: left;
  padding-top: 16px;
}

header #school-name {
  font-family: Serif;
  padding-bottom: 30px;
  float: left;
  background-image: linear-gradient(to right,#000000 40%, #b4b4b4 50%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
}

nav {
  margin-right: 24px;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style: none;
  float: right;
  font-size: 16px;
}

nav li {
  padding-left: 12px;
}

nav a {
  vertical-align: center;
  line-height: auto;
  font-size: 1rem;
  color: #4a4a4a;
}

nav .nav-logo {
  justify-content: center;
  align-items: baseline;
  float: right;
  padding-left: 0px;
  padding-top: 5px;
}

/* Top Section */

.top-section {
  display: flex;
  background-color: #d3d3d3;
  padding: 2rem 1.5rem;
}

.top-section img {
  width: 60%;
}

#banner {
  max-width: 100%;
}

.top-text {
  display: inline;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  padding-top: 15rem;
}

.top-text h1 {
  display: inline;
  padding-bottom: 1.5rem;
}

.top-text p {
  font-size: 1rem;
  padding-left: 1.5rem;
}

#button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 1rem 10rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Information Section */

 #information {
   display: inline-block;
   padding-top: 2rem;
   padding-bottom: 2rem;
 }

 .practice {
   float: left;
   max-width: 60%;
   padding-top: 2rem;
   padding-bottom: 2rem;
   padding-right: 5rem;
   border-right: 1px solid gray;
 }

 #information-main {
   max-width: 100%;
   padding-right: 10rem;
   padding-bottom: 2rem;
 }

 .practice h1 {
   display: inline;
 }

 .practice-text {
   display: inline-block;
   flex-wrap: wrap;
   padding-top: 1.5rem;
 }

 .quote {
   font-family: 'Helvetica';
   font-size: .8rem;
   padding-bottom: 2rem;
   padding-top: 2rem;
 }

.information-sideboxes {
  width: 40%;
  display: inline;
  margin-top: 2rem;
}

.sidebox {
  display: flex;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

.sidebox-image {
  max-width: 35%;
}

.sidebox-image img {
  height: auto;
  max-width: 100%;
}

.sidebox-content h2 {
  display: inline;
}

.sidebox-content p {
  font-size: .9rem;
}

.sidebox-content {
    padding-left: 2rem;
}

#our-guest-lecture {
  background-color: #d3d3d3;
}

/* Start Learning */

.middle-section {
  background-color: #d3d3d3;
  max-width: 100%
}

.middle-section h1 {
  padding-top: 2rem;
  text-align: center;
}

.learning-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 4.5rem;
}

.learning-box {
  display: block;
  width: 33%;
  background-color: white;
  margin-bottom: 1rem;
}

.learning-image {
  padding-bottom: .5rem;
  max-width: 100%;
}

.learning-image img {
  height: auto;
  max-width: 100%;
}

.learning-content {
  display: inline;
  width: cover;
}

.learning-content {
  padding: 1rem .5rem;
}

.learning-content h2 {
  display: inline;
}

.learning-content p {
  padding-left: .5rem;
  font-size: .8rem;
}

/* Thesis Exhibit */

.bottom-section {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bottom-section h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.bottom-left {
  display: inline;
  float: left;
  max-width: 60%;
}

.thesis-video {
  max-width: 100%;
}

.thesis-video video {
  width: 100%;
}

.thesis-content h1 {
  display: inline;
}

.thesis-content p {
  display: inline-block;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.bottom-menu {
  max-width: 40%;
  display: inline-block;
}

.thesis-box {
  display: flex;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.bottom-menu-image {
  max-width: 35%;
}

.bottom-menu-image img {
  height: auto;
  max-width: 100%;
}

.bottom-menu-content h2 {
  display: inline;
}

.bottom-menu-content p {
  font-size: .9rem;
}

.bottom-menu-content {
    padding-left: 2rem;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-family: Arial;
  font-size: .8rem;
  position: relative;
  border-top: .5px solid;
}

#copyright {
}

.footer-links {
  float: right;
}

/* Mobile Nav */

@media only screen and (max-width: 480px) {

  body {
    margin: 0;
  }

  nav {
    height: 4rem;
  }

  .desktop, .desktop a {
    display: none;
  }

  #school-name {
    display: none;
  }

  .mobile {
    width: 100%;
  }

  header .content .mobile ul {
    padding-left: 0px;
  }

  header nav ul {
      align-items: center;
      justify-content: space-evenly;
  }

  header nav li {
      padding: 0 1.25rem;
  }

  header .content {
      padding: 0;
  }

}
